<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Leon. A person learning to code to have some fun later down the road.
  </p>
  <br />
  <p>
    I changed the quotes that were "Splurt" out to be some of the best quotes ever spoken in the Batman universe. Hopefully they will not only be serious lines, but some of more ridiculous(did they just say that?) lines. I hope you have fun hunting down the most obscure quotes...
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Leon U.</h2>
      <br />
      <p>
        Leon is learning the skills to be a proficient web developer that can turn anyones dream website into a reality. Plus he doesn't really care for pictures of himself, so he's a mustached cat.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />